$color1: #283149;
$color2: #404b69;
$color3: #f73819;
$color4: #dbedf3;

.body {
    background-color: #404b69;
}

.container {
    background-color:$color4;
    margin-top: 80px;
}

.footer, a, .text-center {
    color:#dbedf3;
}

