$color1: #283149;
$color2: #404b69;
$color3: #f73819;
$color4: #dbedf3;



.body {
  background-color: #404b69;
}

.form-box{
background-color: $color4;
margin-top: 20px;

}

.form-group
{
  position: relative;
  
}

.form-control
{
  border-radius: 20px;
  &:focus{
    border-color: $color1;
    box-shadow: none;
  }}

.right-addon
{
    position: absolute;
    top: 28px;
    right: 30px;
    font-size: 20px;
  }



 .button, a
{
    color: #fafafafa;
    background-color: $color3;
    border-color: $color3;
    border-radius: 30px;
    height: 40px;
    line-height: 35px;
    text-align: center;
  
  &:hover{
    background-color: darken($color3, 5%);
    border-color: darken($color3, 5%);
  }
  &:focus {
    background-color: $color3;
    border-color: $color3;
    box-shadow: none;
  }
}



.btn-link
{
  color:$color1;
  text-decoration: underline;
  &:hover {
    color: darken($color1, 5%);
    box-shadow: none;
  }
}

