$color1: #283149;
$color2: #404b69;
$color3: #f73819;
$color4: #dbedf3;

.body {
    height: 100%;
    background-color: rgb(49, 49, 49);
    display: block;
    
    margin-left: 735px;
    background-size: cover;
    margin-top: 5px;
    background-position: left;
    &::before{
      content: "";
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    display: block;
}
.form-box {
    height: 100%;
    display: flex;
    text-shadow: 1 0.5rem 1rem ;
    color:rgb(3, 3, 0);
    
    
}
p {
font-size: 27px;
font-family: 'Poiret One', cursive;
font-weight: bold;
text-align:  justify;}
